<header class="container || bg-primary-950/70 backdrop-blur-lg overflow-hidden rounded-xl fixed top-4 left-0 right-0 z-50 ">
  <nav class="flex justify-center items-center gap-4 lg:gap-6">
    <img src="/michi-pfp.png" class="size-12 my-2 rounded-full" alt="" />
  </nav>

  <div class="reading-progress || size-4 bg-gradientPrimary h-1 absolute left-0 -bottom-[1px] w-0"></div>
</header>

<style>
  a{
    font-weight: 500;
  }
</style>

