<header class="bg-zinc-900/30 fixed w-full z-50 backdrop-blur-md">
  <nav class="flex justify-center items-center gap-4 lg:gap-6">
    <a href="">Home</a>
    <a href="">About</a>
    <img src="/michi-pfp.png" class="size-12 my-2 rounded-full" alt="" />
    <a href="">Projects</a>
    <a href="">Contact</a>
  </nav>

  <div class="reading-progress || size-4 bg-gradientPrimary h-1 absolute left-0 -bottom-1 w-0"></div>
</header>

<style>
  a{
    font-weight: 500;
  }
</style>

